<div class="row">

<div class="m-5 col-lg-7 col-md-8 col-sm-12">
  <h4 class="p-2" style="text-transform: uppercase;">Wanna get in touch?</h4>
  <p class="p-2">
    Vim et dolore eligendi voluptua, qui id unum quas omittantur, at sed justo tation eligendi.
    Assum accommodare an mei. Sonet propriae partiendo ad vix, ex vis epicuri constituto incorrupte.
  </p>
</div>

<div class="container mb-5 " style="width: 100%;">
  <div class="row justify-content-center g-4 m-5 mt-0">

    <div class="col-lg-3 col-md-6 col-sm-12 ">
      <div class="border border-black p-4 text-center h-100">
        <div class="circle mb-3">1</div>
        <p class="text-uppercase text-secondary fw-semibold small">Address</p>
        <p class="mb-0">144 N 7th St. #536</p>
        <p class="mb-0">Brooklyn, NY 11249</p>
        <p>United States</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="border border-black p-4 text-center h-100">
        <div class="circle mb-3">2</div>
        <p class="text-uppercase text-secondary fw-semibold small">General Inquiries</p>
        <p class="mb-0">hello@noiceland.co</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="border border-black p-4 text-center h-100">
        <div class="circle mb-3">3</div>
        <p class="text-uppercase text-secondary fw-semibold small">Press Inquiries</p>
        <p class="mb-0">press@noiceland.co</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="border border-black p-4 text-center h-100">
        <div class="circle mb-3">4</div>
        <p class="text-uppercase text-secondary fw-semibold small">Potential Contributors</p>
        <p class="mb-0">collab@noiceland.co</p>
      </div>
    </div>

  </div>
</div>
</div>
