<footer class="bg-dark text-white pt-5 pb-3 m-1">
  <div class="container">
    <!-- الشعار وحقوق النشر -->
    <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-4 text-light">
      <h3 class="fw-bold m-3">NOICELAND</h3>
      <span class="small text-light-emphasis">© 2018 NOICELAND™, ALL RIGHTS RESERVED</span>
    </div>

    <div class="row m-3">
      <div class="col-md-8 row mb-5 mt-5 ">
        <h6 class="text-uppercase text-light-emphasis">Categories</h6>
        <ul class="list-unstyled row">
          <div class="col-lg-3 col-md-6 col-sm-12">
          <li><a href="#" class="footer-link">Animation</a></li>
          <li><a href="#" class="footer-link">Interactive Design</a></li>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
          <li><a href="#" class="footer-link">Architecture</a></li>
          <li><a href="#" class="footer-link">Miscellaneous</a></li>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
          <li><a href="#" class="footer-link">Graphic Design</a></li>
          <li><a href="#" class="footer-link">Photography</a></li>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
          <li><a href="#" class="footer-link">Illustration</a></li>
          <li><a href="#" class="footer-link">Product Design</a></li>
          </div>
      </ul>
      </div>

      <div class="col-md-4 mt-5">
        <h6 class="text-uppercase text-light-emphasis">Subscribe to Newsletter</h6>
        <form class="d-flex">
          <input type="email" class="form-control rounded-0 w-50" placeholder="Email address">
          <button class="btn btn-dark rounded-0" type="submit">Send</button>
        </form>
      </div>

      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase text-light-emphasis">Information</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">about</a></li>
          <li><a href="#" class="footer-link">contact</a></li>
          <li><a href="#" class="footer-link">terms</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase text-light-emphasis">Follow us</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">instagram</a></li>
          <li><a href="#" class="footer-link">facebook</a></li>
          <li><a href="#" class="footer-link">twitter</a></li>
        </ul>
      </div>

      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase text-light-emphasis">Template</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Image License Info</a></li>
          <li><a href="#" class="footer-link">Powered by Webflow</a></li>
        </ul>
      </div>


    </div>
  </div>
</footer>

