<div class="container mt-5" *ngIf="post">
  <div class="card border-0">
    <div class="card-body">
      <p class="text-uppercase text-secondary mb-1" style="font-size: 12px;">
        {{ post?.title | slice:0:20 }}
      </p>
      <h1 class="card-text mt-3" style="font-size: 60px; line-height: 1.5; width:900px">
        {{ post?.body }}
      </h1>
      <div class="d-flex align-items-center mt-4">
        <img src="A01.png" class="rounded-circle me-2" alt="Author" width="40" height="40">
        <span class="text-uppercase fw-bold" style="font-size: 14px;">{{ post?.Auther }}</span>
        </div>
    </div>
  </div>
</div>
<div class="container mt-3 mb-3 text-center">

  <img src="image.png" class="img-fluid " style="width:2000px; margin:2px;">

</div>
<div class="container mt-3 mb-5 w-50">
  <p>Ea iudico labore deserunt mei, pro ad dicant forensibus dissentiunt, mel id hendrerit incorrupte. Viris laudem malorum an eum, cu quo elit albucius corrumpit. Inani mollis pericula an nec. Modo brute liber ea qui, aeque cetero duo ei.</p>
  <p>Autem docendi persecuti nam ut, ne his diam nibh suscipit, eam augue mentitum menandri ea. Consulatu percipitur et nam, cum ex inermis vocibus. Nobis deterruisset usu in, dicam oporteat apeirian no usu. Vix no evertitur maiestatis, tota idque solet eu eos. Offendit suscipit pri cu. Modo volumus eleifend ut duo, ex euismod signiferumque nec. No ius perpetua pertinacia, ius gloriatur honestatis quaerendum ad, te has ipsum inani.</p>
  <p>Ea sit eruditi definiebas. Causae labitur maiestatis sed in. Qui inani facilisis ne, ut vel menandri mediocritatem. Id utinam postea possit pri, sea no aliquam imperdiet voluptatibus, in usu diceret oportere pertinacia. Deserunt theophrastus mea an.</p>
  <p>Probo ridens epicurei per no, euismod ornatus detraxit mea ex, an nisl impetus suavitate mei. Ut aperiri recusabo facilisis eam, ei his veniam noluisse. Eu facilis disputando eum. Ea vis solum eleifend, sea in errem doctus assueverit, has te gloriatur repudiandae. </p>
  <p>Eu mei nobis bonorum civibus:</p>
  <ul>
    <li>No vocent postulant neglegentur mei, ea sea tantas viderer, scriptorem appellantur vel at. </li>
    <li>Illum reformidans mel no. An sea veri nusquam gubergren, ne sea dolor labitur. </li>
    <li>Aeque integre adipisci nec ne.</li>
  </ul>
  <p>Elitr aliquando vis ne, eum ea omittam adipisci, elitr tation vix ei. Homero inimicus et eos, graece legimus pri cu. Vix ei animal equidem. Quo ne ceteros deseruisse, ut vim movet integre, vel ea amet ferri. Duo agam mutat saperet cu, his at gloriatur moderatius. Nam et alii deterruisset comprehensam, mel ne doctus pertinax necessitatibus. Ipsum error utinam vis no.</p>
  <p>Id nec ullum accumsan, omittam fabellas vis in. Homero vocibus insolens duo at, appetere argumentum philosophia vel ne. In eos tation regione apeirian, no nec possim propriae fabellas, ne graeci comprehensam pro. Sed cu legimus commune, aperiam luptatum eam at. Scaevola scribentur ei his, gubergren elaboraret vim ea.</p>
  <p>Id sale ubique sit. Id eam oblique epicuri. Sit duis placerat molestiae ad, nam ut minim erant definitionem. Argumentum referrentur sea ut, eu eam falli persequeris voluptatibus.</p>
  <img src="image.png" class="img-fluid " style="width:2000px; margin:2px;">

  <p>Quo ex dico diam consetetur. Cu sit modo accusam, vis ex denique antiopam urbanitas. Eos no vide fuisset recteque. Fugit suscipit vim ut, mel ad vocibus splendide. Esse doming no mei, cu sit sale tibique.</p>
  <p>Quo doctus impedit expetenda ei, mazim latine id eam. Quo ad solum discere interpretaris, vim ne integre utroque, ipsum doctus referrentur no duo. An impedit tractatos pertinacia sea, homero habemus corrumpit usu ea. Nullam aliquando eam te, mutat constituto eos ne.</p>

  <hr class="b">
  <h5 style="font-size: 20px; font-weight: bold;">Id sale ubique sit. Id eam oblique epicuri. Sit duis placerat molestiae ad, nam ut minim erant definitionem.</h5>
  <p>At albucius legendos torquatos pri, libris appetere delicatissimi ut ius, aliquam praesent mnesarchum his ne. No illud reprehendunt has. In omnesque assueverit mel. Usu debet paulo quando te, eum ut denique conceptam. Mel eros salutatus ex, nulla quaeque ornatus ius te. Mucius Inciderint philosophia el Unica has at. Pro iracundia argumentum at, debet mundi per in. Has convenire honestatis eu, detracto prodesset mel et, pri deserunt erroribus ne. Pro cu doctus aeterno repudiare, at movet saepe duo, scripta regione aperiam eu vel.</p>
  <p>Has saepe tamquam ocurreret te, nam id fierent percipit. Eu qui iusto facilis civibus. Cu pro eros novum urbanitas. Pri illum detraxit signiferumque eu, nec ex congue verear. Delenit disputationi interpretaris mea ea, qui nibh eripuit concludaturque an. Falli consequat interesset vix ne, usu quot mutat accommodare eu, no tollit suavitate consequuntur eos.</p>
  <img src="image.png" class="img-fluid " style="width:2000px; margin:2px;">
  <p style="font-size: 14px; color:gray;">No vocent postulant neglegentur mei, ea sea tantas viderer</p>
  <p>Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu. Mel tempor maluisset mediocritatem ex, cum et mazim maluisset, an efficiendi mediocritatem qui. Has quem platonem in, quo ei dolore quidam adipisci. Ne falli persius sed, ne sed aliquid gubergren. Sint minimum assentior ut eam. An tale novum vis, vel an augue nulla sanctus, perpetua salutandi eum ut. Ei case porro choro sed, ea nibh brute pri. Nobis platonem et vim, simul recteque duo ex.</p>
  <p>Nec albucius vivendum argumentum id, periculis efficiantur nec an, facilis nominavi pertinacia nam ad. Quodsi aliquip ex est, ei eros tantas vis. In nominati gloriatur qui, pro te erat liber sententiae. An nec prima eligendi suavitate, nihil veniam ea sit. Mea mucius oblique phaedrum id, eu modo suavitate eum. Eum te vocent corpora invidunt, id doming numquam delenit vix.</p>
</div>
<hr class="m-5 col-lg-10 col-md-10 col-sm-12">
<div class="row justify-content-center g-4 m-5 mt-0 p-5">
@for(l of latestlist.slice(0,2) ; track l.id){
  <div class="col-lg-6 col-md-6 col-sm-12 mt-5" style=" border:none;">
  <img [src]="l.img" class="card-img-top img01" alt="...">
  <div class="card-body mt-3">
    <p class="card-text text-uppercase stretched-link" style="color: gray;">
     {{l.title}}
    </p>
    <h5 class="card-title w-75 text-uppercase">{{l.body}}</h5>
    <p class="card-text m-2 text-uppercase" style="font-size: 13px;cursor: pointer; color: black; text-decoration: underline;">BY {{l.Auther}}</p>
  </div>
  </div>
}
</div>
